:host {
    display: grid;
    grid-template-areas: " n176_104 n176_105 n176_106 n176_107 n176_108 n176_109 n176_110 n176_111 ."
    "n144_0 n144_1 n144_2 n144_3 n144_4 n144_5 n144_6 n144_7 n144_8"
    "n144_16 n144_17 n144_18 n144_19 n144_20 n144_21 n144_22 n144_23 n144_24"
    "n144_32 n144_33 n144_34 n144_35 n144_36 n144_37 n144_38 n144_39 n144_40"
    "n144_48 n144_49 n144_50 n144_51 n144_52 n144_53 n144_54 n144_55 n144_56"
    "n144_64 n144_65 n144_66 n144_67 n144_68 n144_69 n144_70 n144_71 n144_72"
    "n144_80 n144_81 n144_82 n144_83 n144_84 n144_85 n144_86 n144_87 n144_88"
    "n144_96 n144_97 n144_98 n144_99 n144_100 n144_101 n144_102 n144_103 n144_104"
    "n144_112 n144_113 n144_114 n144_115 n144_116 n144_117 n144_118 n144_119 n144_120";
    grid-template-columns: repeat(9, max-content);
    grid-template-rows: repeat(9, max-content);
    width: auto;

    .round {
        border-radius: 50%;
    }
}