:host {
    display: block;
    width: auto;
    height: 90%;
    border: 2px solid purple;
    overflow: auto;
    padding: 15px;

    .audioFile {
        border: 1px solid black;
        margin: 2px;
        padding: 2px;
        background-color: lightblue;
    }

}
