:host {
    display: inline-block;
    width: 80px;
    height: 80px;
    //border: 1px solid darkgrey;
    margin: 5px;

    // glasmorphism experiment
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    color: black;

    &.activeDragHover {
        border: 1px solid blue;
    }

    &.soundFileLoaded {
        border: 1px solid green;
    }

    .noteKey {
        text-align: center;
        margin-top: 10px;
        font-size: 36px;
    }

    .unloadSoundFile {
        font-size: 22px;
        text-align: center;
    }
}

