<app-device-selector></app-device-selector>

<h4>access requested: {{devicesService.accessRequested}}</h4>
<h4>access granted: {{devicesService.accessGranted}}</h4>
<h4>current selected device: {{devicesService.getCurrentSelecteInputDevice()?.name}}</h4>

<ng-container *ngIf="devicesService.getCurrentSelecteInputDevice()?.name">
    <app-midi-button [name]="'A'" [noteKey]="0"></app-midi-button>
    <app-midi-button [name]="'B'" [noteKey]="1"></app-midi-button>
</ng-container>

<app-audio-explorer></app-audio-explorer>